@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');


* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*Darkmode*/
:root{
    --left-color: #EBEBEB;
    --right-color: #DFDFDF;
    --Lefttext-color: #333333;
}

.dark{
    --left-color: #232628;
    --right-color: #444748;
    --Lefttext-color: #fff;
}

#icon{
    width: 30px;
    cursor: pointer;
}


div{
    display: block;
}

hr {
    height: 1px;
    border-width: 0;
    color: #C1C1C1;
    background-color: #C1C1C1;
}

.top{
    background-color: var(--left-color);
}
/*Top Image*/
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    padding: 20px;
    padding-left: 0%;
    width: 35%;
}

.text-header{
    width: auto;
    height: 100%;
    text-align: left;
    padding-left: 10px;
}

/*Nav Bar*/
.nav_links{
    list-style: none;
    display: flex;
    padding-left: 0%;
}

.nav_links li{
    padding: 0px 20px;
    margin-top: 0%;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links a{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--Lefttext-color);
    text-decoration: none;
}

.nav_links li a:hover{
    color: #E7471B;
}

.vert{
    border-left: 1px solid var(--Lefttext-color);
}

/*Content*/
.column{
    float: left;
    height: 100%;
}

.left{
    width: 80%;
    font-family: "calibri";
    padding-left: 30px;
    background-color: var(--left-color);
    padding-right: 30px;
}

.left h1{
    color: #E6521E;
    font-weight: lighter;
    padding-bottom: 0%;
}

.left p{
    color: var(--Lefttext-color);
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    font-family: 'Outfit';
}

.leftimg{
    padding-left: 20%;
    font-family: 'Outfit';
}

.right{
    width: 20%;
    background-color: var(--right-color);
    font-family: "calibri";
    padding-left: 30px;
    padding-right: 30px;
    height: 1946px;
}

.right h1{
    padding-top: 20px;
    color: var(--Lefttext-color);
}

.QText{
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 35px;
    text-align: center;
}

.Qimg{
    padding-left: 25%;
}

/* Slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    padding-left: 135px;
}
    
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

/*image Gallery*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper > * {
    margin: 5px;
}
.media {
    width: 225px;
    height: 324px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img {
    width: 225px;
    height: 324px;
}
.layer {
    opacity: 0;
    position: absolute;
    width: 5px;
    height: 100%;
    background: #181818f8;
    color: #ffffff;
    transition: all 0.9s ease;
}
.layer p {
    transition: all 0.9s ease;
    transform: scale(0.1);
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.media:hover .layer {
    opacity: 0.8;
    width: 100%;
    transition: all 0.5s ease;
}
.media:hover .layer p {
    transform: scale(1);
    transition: all 0.9s ease;
}
@media (max-width: 800px) {
    body {
        transform: scale(0.6);
   }
}
@media (max-width: 600px) {
    .wrapper {
        display: block;
   }
    .wrapper > * {
        margin: 10px;
   }
}

/*information*/
.informationContentList {
    height: 360px;
    width: 100%;
    overflow: auto;
}

.informationData {
    border-bottom: 1px #ccc dotted;
}

.informationData:hover{
    background-color: #b3b3b38a;
    color: #E6521E;
}

.inforText {
    display: table-cell;
    width: 520px;
    padding: 10px 0 15px 10px;
    vertical-align: middle;
}

.informationData a{
    text-decoration: none;
}

.inforText time{
    color: #E6521E;
}

.inforText p{
    color: var(--Lefttext-color);
}

/*footer*/
.foot{
    text-align: center;
    margin: 0;
    padding-top: 30px;
    color: var(--Lefttext-color);
    background-color: var(--left-color);
}